    html, body {
      width: 100%;
      height: 100%;
    }
    body {
      background-color: #eee;
      font-family: 'Open Sans', sans-serif;
      font-size: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-word;
    }
    .welcome {
      display: flex;
      align-items: top;
      color: #666;
      margin: 0 50px;
    }
    .side {
      flex: 1 0 0;
    }
    .create {
      --colour: #63bd67;
      text-align: right;
    }
    .join {
      --colour: #6295bd;
    }
    .custom {
      --colour: #AE00FF;
		}
    .line {
      background-color: rgba(0, 0, 0, 0.1);
      margin: 0 50px;
      width: 1px;
    }
    .side h1 {
      font-weight: normal;
      font-size: 32px;
    }
    .button {
      -webkit-appearance: none;
      border: none;
      background: none;
      border-radius: 5px;
      background-color: var(--colour);
      color: white;
      font: inherit;
      font-size: 24px;
      height: 40px;
      width: 100%;
      cursor: pointer;
    }
    .input {
      -webkit-appearance: none;
      border: 3px solid var(--colour);
      background: none;
      border-radius: 5px;
      background-color: white;
      font: inherit;
      color: #333;
      font-size: 24px;
      padding: 5px;
      height: 40px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 15px;
      text-align: center;
    }
    ::-webkit-input-placeholder {
      color: inherit;
      opacity: 0.3;
    }
    .hidden {
      display: none;
    }
    .error {
      color: #dd5454;
      font-size: 16px;
    }
    @media (max-width: 510px) {
      .welcome, .line {
        margin: 0 20px;
      }
    }
    .chat-mode {
      background-color: #494f55;
      color: rgba(255, 255, 255, 0.6);
      align-items: flex-end;
    }
    .chat-mode .welcome {
      display: none;
    }
    .chat, #message {
      display: none;
    }
    .chat-mode .chat {
      display: block;
      position: fixed;
      bottom: 75px;
      left: 0;
      width: 100%;
    }
    .scroll-mode .chat {
      max-height: calc(100% - 75px);
      overflow: auto;
    }
    .chat-mode #message {
      display: block;
      -webkit-appearance: none;
      border: none;
      background: none;
      border-radius: 5px;
      font: inherit;
      background-color: rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.8);
      height: 35px;
      margin: 20px;
      padding: 0 15px;
      font-size: 16px;
      flex: 1;
    }
    #message:disabled {
      opacity: 0.5;
    }
    .message {
      margin: 0 20px;
      margin-top: 10px;
    }
    .announcement {
      color: rgba(255, 255, 255, 0.4);
    }
    .self-message {
      margin-left: 0;
      padding-left: 17px;
      border-left: 3px solid rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.8);
    }
    .self-message + .self-message {
      margin-top: 0;
      padding-top: 10px;
    }
    .author, .content {
      font-size: 16px;
    }
    .author {
      color: white;
      margin-right: 10px;
    }
    .content {
      white-space: pre-wrap;
      opacity: 1;
    }
    .content:hover ~ .timeData {
      opacity: 1;
    }
    .italics {
      font-style: italic;
    }
    .bold {
      font-weight: bold;
    }
    .strike {
      text-decoration: line-through;
    }
    .under {
      text-decoration: underline;
    }
    input:focus { /* oof */
      outline: none;
    }
    .chat-btn {
      -webkit-appearance: none;
      border: none;
      background: none;
      border-radius: 5px;
      font: inherit;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      margin-left: 10px;
      cursor: pointer;
    }
    sub {
      font-size: 15px;
    }
    .timeData {
      position: absolute;
      font-size: 10px;
      display: inline;
      margin-left: 35px;
      color: darkgray;
      opacity: 0;
      cursor: default;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    .timeData:hover {
      opacity: 0.8;
      transition: 0.3s;
    }
    .timeData:not(:hover) {
      opacity: 0;
      transition: 0.3s;
    }
    .timeDiv {
      display: inline;
    }
    .cursor {
      cursor: pointer;
    }
    /* footer taken from https://www.w3schools.com/howto/howto_css_fixed_footer.asp becasue i am a lazy shit */
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #eee;
       color: black;
       text-align: center;
       cursor: help;
    }
